<ion-view view-title="Sobre">
  <ion-content>
    <div class="title-container">
      <h3 class=title>Well Sobre</h3>
      <p class=subtitle>Financial Calculator</p>
    </div>

    <div class="info-container">
      <p class="made">Made with <i class="ion-heart"></i> by</p>
      
      <div class="perfil-container">
        <img src="img/well.jpg" alt="foto de perfil">
      </div>

      <div class="info">
        <p class="nome"><b>Nome:</b> 
          <a href="https://www.facebook.com/al.guido.wellington">
            Wellington Viera Alves
          </a></p>
        <p class="curso"><b>Curso:</b> Sistema de Informação</p>
        <p class="disciplina"><b>Disciplina:</b> Matemática Financeira</p>
        <p class="ra"><b>RA:</b> 41380</p>
      </div>
    </div>
  </ion-content>
</ion-view>
